<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.thijszoontjes.youtube-kanaal</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-lc</string>
      <string>cd /ABSOLUTE/PATH/TO/youtube-kanaal && . .venv/bin/activate && python -m youtube_kanaal make-batch --count 3</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/youtube-kanaal.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/youtube-kanaal.err</string>
  </dict>
</plist>
